<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
</head>
<body>
	<div id="content" layout:fragment="corpo">
		<div class="col-md-12">
            <div class="card card-user">
             	<div class="card-header">
                	<h5 class="card-title">Cadastro Professor</h5>
              	</div>
	            <div class="card-body">
	            	<p class="card-category">campos obrigatorios <span style="color: red">*</span></p>
	            	<form th:object="${professor}" th:action="@{/professores}" method="POST">
                      <input id="id" name="id" type="hidden" th:field="*{id}" th:value="*{id}">
                        <div class="row">                   
                        	<div class="col-md-10">
	                 			<div class="form-group">
	                        		<label>Nome<span style="color: red">*</span></label>
	                        		<input type="text" id="nome" th:field="*{nome}" th:value="*{nome}" class="form-control" placeholder="ex: maria" required>
	                      		</div>                		
	                 		</div>
	                 		<div class="col-md-10">
	                 			<div class="form-group">
	                        		<label>Matricula<span style="color: red">*</span></label>
	                        		<input type="text" id="matricula" th:field="*{matricula}" th:value="*{matricula}" class="form-control" placeholder="ex: 123456" required>
	                      		</div>                		
	                 		</div>
	                 		<div class="col-md-10">
	                 			<div class="form-group">
	                        		<label>Email<span style="color: red">*</span></label>
	                        		<input type="text" id="email" th:field="*{email}" th:value="*{email}" class="form-control" placeholder="ex: maria@gmail.com" required>
	                      		</div>                		
	                 		</div>
                        </div>
                        <div class="btn-toolbar" role="toolbar">
  							<div class="btn-group mr-2" role="group">
    							<button type="submit" class="btn btn-primary btn-round">Salvar</button>
  							</div>
                  		</div>                    
                    </form>
                    
	            </div>
	        </div>
	   </div>
    </div>
</body>
</html>