<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/esqueceuSenha.css}"/>	
</head>
<body>
	<div th:fragment="menu-esquerdo" >
	    <div class="sidebar" data-color="white" data-active-color="black">
	    
	      <div class="logo">
	        <a th:href="@{/entrar}"class="simple-text logo-mini">
	          <div class="logo-image-small">
	           <!-- <img src="../imgs/livro.png"> -->
	          </div>
	        </a>
	        <a th:href="@{/}" class="simple-text logo-normal">
	          Alunos
	        </a>
	      </div>
	      
	      <div class="sidebar-wrapper" >
	        <ul class="nav">
	          <li>
	            <a th:href="@{/}">
	              <i class="nc-icon nc-bank"></i>
	              <p>Home</p>
	            </a>
	          </li> 
	          <li class="dropdown">
	            <a  data-toggle="dropdown">
	              <i class="nc-icon nc-bullet-list-67"></i>
	              <p>Cadastros <span class="nc-icon nc-minimal-down"></span> </p>
	            </a>
	            <ul class="dropdown-menu dropdown-menu-right">
	            	<li><a th:href="@{/aluno/cadastro-aluno}"><i class="nc-icon nc-single-02"></i>Aluno</a></li>
	            	<li><a th:href="@{/disciplina/cadastro-disciplina}"><i class="nc-icon nc-single-02"></i>Disciplina</a></li>
	            	<li><a th:href="@{/curso/cadastro-curso}"><i class="nc-icon nc-single-02"></i>Curso</a></li>
	            	<li><a th:href="@{/matricula/cadastro-matricula}"><i class="nc-icon nc-single-02"></i>Matricula</a></li>
		      	</ul>
	          </li>
	          <li class="dropdown">
	            <a  data-toggle="dropdown">
	              <i class="nc-icon nc-tile-56"></i>
	              <p>Listas <span class="nc-icon nc-minimal-down"></span> </p>
	            </a>
	            <ul class="dropdown-menu dropdown-menu-right">
			        <li><a th:href="@{/aluno/lista-aluno}"><i class="nc-icon nc-circle-10"></i>Alunos</a></li>
			         <li><a th:href="@{/disciplina/lista-disciplina}"><i class="nc-icon nc-circle-10"></i>Disciplinas</a></li>
			         <li><a th:href="@{/curso/lista-curso}"><i class="nc-icon nc-circle-10"></i>Cursos</a></li>
			         <li><a th:href="@{/matricula/lista-matricula}"><i class="nc-icon nc-circle-10"></i>Matriculas</a></li>
		      	</ul>
	          </li>
	        </ul>
	      </div>
	           
	    </div>
    </div>
</body>
</html>